<form [formGroup] = "msgform" (ngSubmit) = "sendData()">
  <div>
    <label for="message"></label>
    <input type="text" name = "message" id = "message" formControlName = "message" class = "form-control" >
  </div>
  <div>
    <label for="user"></label>
    <input type="text" name = "user" id = "user" formControlName = "user" class = "form-control">
  </div>
  <input type="submit" value = "Send message" class = "btn btn-primary">
</form>
