<h1>Login Form</h1>
<form [formGroup] = "loginForm" (ngSubmit) = "login()">
  <div>
    <label for="user">Username</label>
    <input type="text" name = "user" id = "user" formControlName = "user" class = "form-control" >
  </div>
  <div>
    <label for="user">Password</label>
    <input type="text" name = "password" id = "password" formControlName = "password" class = "form-control">
  </div>
  <div *ngIf = "invalid" class="alert alert-danger">Invalid username or password</div>
  <input type="submit" value = "Login" class = "btn btn-primary">
</form>
<div>
  <button (click) = "logout()">Logout</button>
</div>

