<p>
  {{getTitle()}}
</p>
<messageForm (addMessage) = "optimisticAdd($event)" (addMessagePs) = "pessimiaticAdd()"  ></messageForm>
<ul class = "list-group">
  <li  class = "list-group-item" *ngFor="let key of messagesKeys">
    <button (click) = "deleteMessage(key)">Delete</button>
    <a [routerLink] = "['/message', key]" > {{messages[key].body}} </a>
  </li>
</ul>


